.section-control input {
    width: 30%;
    padding: 0.5em;
    margin: 1em 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: 0;
    font-family: inherit;
    &:focus {
        border-color: #FDBC42;
    }
}