<div class="container">
  <div class="edit">
    <div class="search">
      <input type="text"
        class="search-field"
        placeholder='Search...'
        (keyup)="findCourses($event.target.value)"
        [(ngModel)]="searchTerm">
    </div>
    <div class="add">
      <button class="add-btn" [routerLink]="['/courses', 'new']">Add Course</button>
    </div>
  </div>
  <div class="matches">{{courses.length}} COURSES SHOWN</div>
  <ng-container *ngIf="courses.length; else noCourses">
    <div class="courses-list">
      <app-courses-list-item
        class="list-item"
        *ngFor="let course of courses | orderBy: 'date'"
        [course]="course"
        (updateCourse)="editCourse($event)"
        (removeCourse)="deleteCourse($event)"
        [appPaintBorder]="course.date">
      </app-courses-list-item>
    </div>
    <div class="load-more"
      *ngIf="!isLastPage">
      <button class="load-btn"
        (click)="loadMore()">
        LOAD MORE
      </button>
    </div>
  </ng-container>
  <ng-template #noCourses>
    <div class="no-results">
      NO DATA. FEEL FREE TO ADD NEW COURSE
    </div>
  </ng-template>
</div>
