<div class="container">
  <div class="content">
    <h3 class="form-heading">Add a Course</h3>
    <form
      [formGroup]="courseForm"
      (ngSubmit)="save()"
      class="edit-form">
      <div class="section">
        <div class="section-name">
          <label for="title">Title:</label>
          <div *ngIf="title.errors && title.touched"
            class="error-hint">
            <span [hidden]="!title.hasError('required')">
              Title is required.
            </span>
            <span [hidden]="!title.hasError('maxlength')">
              Title is more than 50 characters long.
            </span>
          </div>
        </div>
        <div class="section-control">
          <input
            type="text"
            id="title"
            formControlName="title">
        </div>
      </div>
      <div class="section">
        <div class="section-name">
          <label for="description">Description:</label>
          <div *ngIf="description.errors && description.touched"
            class="error-hint">
            <span [hidden]="!description.hasError('required')">
              Description is required.
            </span>
            <span [hidden]="!description.hasError('maxlength')">
              Description is more than 500 characters long.
            </span>
          </div>
        </div>
        <div class="section-control">
          <textarea
            id="description"
            rows="4"
            formControlName="description">
          </textarea>
        </div>
      </div>
      <app-date-picker
        class="date-picker"
        formControlName="date">
      </app-date-picker>
      <app-duration-calculator
        class="duration-calc"
        formControlName="duration">
      </app-duration-calculator>
      <app-authors-select
        class="authors-select"
        [authors]="authors$ | async"
        [showError]="authors.errors && authors.touched"
        formControlName="authors">
      </app-authors-select>
      <div class="form-control">
        <button
          type="submit"
          class="control-btn save"
          [disabled]="courseForm.invalid">
          Save
        </button>
        <button
          class="control-btn cancel"
          (click)="returnToCourses()">
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
