.container {
    max-width: 1200px;
    min-height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 50%;
    background-color: #ffffff;
    padding: 1em;
    border-radius: 1em;
    box-shadow: inset 0 0 10px #40A3FC;
}

.form-heading {
    color: #FDBC42;
    padding-bottom: 1em;
}

.section-control input,
.section-control textarea {
    width: 100%;
    padding: 0.5em;
    margin: 1em 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: 0;
    &:focus {
        border-color: #FDBC42;
    }
}

.section-control textarea {
    resize: none;
    font-family: inherit;
}

.form-control {
    display: flex;
    justify-content: center;
}

.control-btn {
    border: 1px solid #ffffff;
    width: 25%;
    background-color: #0D5786;
    color: #ffffff;
    font-size: 1em;
    padding: 5px;
    margin: 1em 0.5em;
    &:hover {
        border: 1px solid #0D5786;
        color: #0D5786;
        font-weight: bold;
        background-color: #ffffff;
        cursor: pointer;
    }
}
