.container {
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
}

.content {
    display: flex;
    min-height: 100%;
    align-items: center;
}

.login-form {
    width: 30%;
    min-width: 400px;
    background-color: #ffffff;
    padding: 1em;
    border-radius: 1em;
    box-shadow: inset 0 0 10px #40A3FC;
}

.login-text {
    width: 70%;
    padding-right: 2em;
}

.welcome {
    color: #0D5786;
}

.moto {
    color: #40A3FC;
    padding: 1em 0;
    font-style: italic;
}

.guide p:first-child {
    padding-bottom: 0.5em;
}

.form-heading {
    color: #FDBC42;
    padding-bottom: 1em;
}

.log-in-form input {
    width: 100%;
    padding: 0.5em;
    margin: 1em 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: 0;
    &:focus {
        border-color: #FDBC42;
    }
}

.submit-btn {
    display: block;
    border: 1px solid #ffffff;
    width: 100%;
    background-color: #0D5786;
    color: #ffffff;
    font-size: 1em;
    padding: 5px;
    margin: 1em 0;
    &:hover {
        border: 1px solid #0D5786;
        color: #0D5786;
        font-weight: bold;
        background-color: #ffffff;
        cursor: pointer;
    }
}
