<div class="container">
  <div class="edit">
    <div class="search">
      <input type="text"
        class="search-field"
        placeholder='Search...'
        [(ngModel)]="searchCourse">
      <div class="search-btn" (click)="findCourses()">
        <img src="assets/img/search-icon.png">
      </div>
    </div>
    <div class="add">
      <button class="add-btn">Add Course</button>
    </div>
  </div>
  <div class="matches">{{courses.length}} COURSES FOUND</div>
  <div class="courses-list">
    <app-courses-list-item 
      class="list-item"
      *ngFor="let course of courses | slice: 0: limit"
      [course]="course"
      (removeCourse)="deleteCourse($event)">
    </app-courses-list-item>
  </div>
  <div class="load-more"
    *ngIf="limit <= courses.length">
    <button class="load-btn"
      (click)="loadMore()">
      LOAD MORE
    </button>
  </div>
</div>