.container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 555;
    background-color: rgba(0, 0, 0, 0.1);
}

.content {
    display: flex;
    height: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}